/* ---Google Fonts --- */
@import url(<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">)

/* --- Componentes--- */
@import url(Componentes/badge.css);
@import url(Componentes/banner.css);
@import url(Componentes/button.css);
@import url(Componentes/card.css);
@import url(Componentes/footer.css);
@import url(Componentes/nevbar.css);

/* --- Fonts --- */
body {
	font-family: "Bangers", "sans-serif";
	padding-bottom: 0px;
	background-color: #f7f7f7;
	background-size: cover;
	background-position: center;
}

